.headfont{
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    margin: 0px 10px;
}

.navwid{
    width: 85%;
}

.imagesize{
    width: 85%;
    height: 300px;
}

.inputcust{
    border: none;
    border-bottom: 2px solid;
}

.iconfb{
    color: blue;
}

.icontw{
    color: rgb(95, 95, 255);
}

.iconadd{
    color: orangered;
}

.iconcal{
    color: rgb(0, 0, 101);
}

.iconsize{
    width: 35px; 
    height:35px;
}
